<h1>Welcome to our playground!</h1>
<p>
Here you will find WebGL powered games fully served by Ruby on Rails. Our site is based on our technical evaluation of WebGL through a functioning game demonstration. On top of that, we ended up building our technical evaluation site using Twitter's Bootstrap, Ruby on Rails, and also used Apache web-server.
</p>
<p>
We hope that you'll enjoy our playground!
</p>
