<h1>Welcome to our playground!</h1>
<p>
Here you will find information regarding our technical evaluation of WebGL and a game demonstration utilizing this technology. On top of that, we ended up building our technical evaluation site using Twitter's Bootstrap, Ruby on Rails, and also used Apache web-server. 
</p>
